/* stylelint-disable */
.dv-border-box-1 {
  .border-box-content {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    .wrap{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
